.scrolling-container {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100vw;            /* usa toda la pantalla */
  max-width: 100%;
  position: relative;
  height: 50px;
  white-space: nowrap;

  /* Ocultar scrollbar */
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE/Edge */
}
.scrolling-track {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.75rem;
  white-space: nowrap;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}

.scrolling-track > * {
  scroll-snap-align: start;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-container:hover .scrolling-track {
  animation-play-state: paused;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 105, 180, 0.7);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 12px rgba(255, 105, 180, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 105, 180, 0);
  }
}

.floating-publish-button {
  font-weight: bold;
  font-size: 14px;
  padding: 6px 12px;
}

/* Posiciones posibles */
.top-left {
  top: 60px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .floating-publish-button {
    font-size: 12px !important;
    padding: 4px 10px !important;
  }
}

@media (max-width: 768px) {
  .mobileContainerFix {
    padding: 0 !important;
    margin: 0 16px;
  }

  .mobileContainerFix > div[class*="Container-inner"] {
    padding-top: 0 !important;
  }
}

