@media (max-width: 50000px) {
  .GruposDeTelegram {
    display: none !important;
  }
}

.floating-publish-button {
  font-weight: bold;
  font-size: 14px;
  padding: 6px 12px;
}

/* Posiciones posibles */
.top-left {
  top: 60px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}